---
import { humanize } from "@/lib/utils/textConverter";
import config from "@/config/config.json";

const { supported } = config.language;

const { className }: { className?: string } = Astro.props;

const paths = Astro.url.pathname.split("/").filter((x) => x);

let lang = "";
if (supported.includes(paths[0])) {
  lang = paths.shift()!;
}

let parts = [
  {
    label: "Home",
    href: `/${lang}`,
    "aria-label": Astro.url.pathname === `/${lang}` || Astro.url.pathname === `/${lang}/` ? "page" : undefined,
  },
];

paths.forEach((label: string, i: number) => {
  const href = `/${lang}/${paths.slice(0, i + 1).join("/")}`;
  label !== "page" &&
    parts.push({
      label: humanize(label.replace(".html", "").replace(/[-_]/g, " ")) || "",
      href,
      "aria-label": Astro.url.pathname === href ? "page" : undefined,
    });
});

---

<nav aria-label="Breadcrumb" class={className}>
  <ol class="inline-flex" role="list">
    {
      parts.map(({ label, ...attrs }, index) => (
        <li class="mx-1 capitalize" role="listitem">
          {index > 0 && <span class="inline-block mr-1">/</span>}
          {index !== parts.length - 1 ? (
            <a class="text-primary dark:text-darkmode-primary" {...attrs}>
              {label}
            </a>
          ) : (
            <span class="text-light dark:text-darkmode-light">{label}</span>
          )}
        </li>
      ))
    }
  </ol>
</nav>
