---
import ImageMod from "@/components/ImageMod.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { FaCheck } from "react-icons/fa";

export interface Props {
  index: number;
  title: string;
  description: string;
  image?: string;
  bulletpoints?: string[];
}

const { index, title, description, image, bulletpoints = [] } = Astro.props;

// 根據索引值決定是否要有漸層背景 (雙數區塊有背景)
const bgClass = index % 2 !== 0 ? "bg-gradient" : "";
// 根據索引值決定圖片在左邊還是右邊
const imgOrder = index % 2 !== 0 ? "md:order-2" : "";
const textOrder = index % 2 !== 0 ? "md:order-1" : "";
---

<section class={`section-sm ${bgClass}`}>
  <div class="container">
    <div class="row items-center justify-between">
      {/* 圖片區塊 */}
      <div class={`mb:md-0 mb-6 md:col-5 ${imgOrder}`}>
        {image ? (
          <ImageMod
            src={image}
            height={480}
            width={520}
            alt={title}
            format="webp"
            class="rounded-lg shadow-lg"
          />
        ) : (
          <div class="h-[480px] w-full bg-theme-light dark:bg-darkmode-theme-light rounded-lg flex items-center justify-center shadow-inner">
            <span class="text-text-light dark:text-darkmode-text">Image not found</span>
          </div>
        )}
      </div>

      {/* 文字區塊 */}
      <div class={`md:col-7 lg:col-6 ${textOrder}`}>
        <h2 set:html={markdownify(title)} class="mb-4 text-h3 lg:text-h2" />
        <p set:html={markdownify(description)} class="mb-8 text-lg text-text-light dark:text-darkmode-text" />
        {bulletpoints && bulletpoints.length > 0 && (
          <ul class="space-y-4">
            {bulletpoints.map((bullet) => (
              <li class="relative pl-8">
                <FaCheck className="absolute left-0 top-1.5 text-primary" />
                <span set:html={markdownify(bullet)} class="text-text-light dark:text-darkmode-text" />
              </li>
            ))}
          </ul>
        )}
      </div>
    </div>
  </div>
</section>
