---
const { source, className } = Astro.props;
import DynamicIcon from "@/helpers/DynamicIcon";
import { Icon } from 'astro-icon/components';
export interface ISocial {
  name: string;
  icon: string;
  link: string;
}
---

<ul class={className}>
  {
    source.map((social: ISocial) => {
      const isLocalPath = social.icon && social.icon.startsWith("/");
      const isLibraryIcon = social.icon && social.icon.includes(":");

      return (
        <li>
          <a
            aria-label={social.name}
            href={social.link}
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <span class="sr-only">{social.name}</span>
            
            {isLocalPath ? (
              <img 
                src={social.icon} 
                alt={social.name} 
                class="inline-block" 
                style="width:24px; height:24px; filter: grayscale(1) brightness(0.8);" 
              />
            ) : (
              isLibraryIcon && <Icon name={social.icon} class="w-6 h-6" />
            )}
          </a>
        </li>
      );
    })
  }
</ul>

