---
import Base from "@/layouts/Base.astro";
import AboutCard from "@/layouts/components/AboutCard.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { render } from "astro:content";
import { supportedLang } from "@/lib/utils/languageParser";
import { markdownify } from "@/lib/utils/textConverter";
import PageHeader from "@/partials/PageHeader.astro";


export function getStaticPaths() {
  const paths = supportedLang.map((lang) => ({
    params: { lang: lang || undefined },
  }));
  return paths;
}

const { lang } = Astro.params;
const about = await getListPage("about", lang);
if (about[0].data.draft) {
  return Astro.redirect("/404");
}

const { Content } = await render(about[0]);
const aboutData = about[0].data as any;
const { title, description, meta_title, image, role, social } = aboutData;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-10 lg:col-8">
          <AboutCard
            name={title}
            role={role}
            image={image}
            bio={description}
            social={social}
          />
          <div class="content mt-8">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
