---
import Base from "@/layouts/Base.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { supportedLang } from "@/lib/utils/languageParser";
import PageHeader from "@/partials/PageHeader.astro";


export function getStaticPaths() {
  const paths = supportedLang.map((lang) => ({
    params: { lang: lang || undefined },
  }));
  return paths;
}

const { lang } = Astro.params;
const faq = await getListPage("faq", lang);
if (faq[0].data.draft) {
  return Astro.redirect("/404");
}

const { title, description, meta_title, image, faqs } = faq[0].data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-10 lg:col-8">
          {
            faqs.map((faq, index) => (
              <details class="accordion faq-accordion" open={index === 0}>
                <summary class="accordion-header bg-light dark:bg-darkmode-light">
                  <span class="font-secondary text-xl font-semibold text-text-dark dark:text-darkmode-text-dark">
                    {faq.question}
                  </span>
                  <svg
                    class="accordion-icon"
                    x="0px"
                    y="0px"
                    viewBox="0 0 512 512"
                    xml:space="preserve"
                  >
                    <path
                      fill="currentColor"
                      d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z"
                    ></path>
                  </svg>
                </summary>
                <div class="accordion-content">
                  <p class="mb-0 py-5 text-base leading-relaxed text-text-light dark:text-darkmode-text">
                    {faq.answer}
                  </p>
                </div>
              </details>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Base>

<style>
  .faq-accordion > summary {
    list-style: none;
  }

  .faq-accordion > summary::-webkit-details-marker {
    display: none;
  }

  .faq-accordion[open] .accordion-icon {
    transform: rotate(0deg);
  }

  .faq-accordion[open] .accordion-content {
    max-height: 100vh;
  }
</style>
