---
import BlogCard from "@/components/BlogCard.astro";
import Base from "@/layouts/Base.astro";
import config from "@/config/config.json";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";
import PageHeader from "@/partials/PageHeader.astro";
import Pagination from "@/components/Pagination.astro";

// get static paths for all categories
export async function getStaticPaths() {
  const BLOG_FOLDER = "blog";
  const categories = await getTaxonomy(BLOG_FOLDER, "categories");

  return categories.map((category) => {
    return {
      params: { category },
    };
  });
}

const { category } = Astro.params;

// get posts by category
const BLOG_FOLDER = "blog";
const PAGINATION_SECTION = "categories/" + category;
const posts = await getSinglePage(BLOG_FOLDER);
const filterByCategories = taxonomyFilter(posts, "categories", category!);
const sortedPosts = sortByDate(filterByCategories);
const totalPages: number = Math.ceil(sortedPosts.length / config.settings.pagination_category);
const currentPosts = sortedPosts.slice(0, config.settings.pagination_category);
---

<Base title={category}>
  <PageHeader title={category} />
  <div class="section-sm">
    <div class="container">
      <div class="row">
        {
          currentPosts.map((post) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <BlogCard data={post} />
            </div>
          ))
        }
      </div>
      <Pagination
        section={PAGINATION_SECTION}
        currentPage={1}
        totalPages={totalPages}
      />
    </div>
  </div>
</Base>
