---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getListPage } from "@/lib/contentParser.astro";
import PageHeader from "@/partials/PageHeader.astro";

const contactIndex = await getListPage("contact", "-index");
const { contact_form_action }: { contact_form_action: string } = config.params;
const { title, description, meta_title, image } = contactIndex.data;

if (contactIndex.data.draft) {
  return Astro.redirect("/404");
}
---

<Base
  description={description}   image={image}   meta_title={meta_title}   title={title}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="mx-auto md:col-10 lg:col-6">
          <form action={contact_form_action} method="POST">
            <div class="mb-6">
              <label class="form-label" for="name">
                Full Name <span class="text-red-500">*</span>
              </label>
              <input
                class="form-input"                 id="name"                 name="name"
                placeholder="John Doe"
                required                 type="text"
              />
            </div>
            <div class="mb-6">
              <label class="form-label" for="email">
                Working Mail <span class="text-red-500">*</span>
              </label>
              <input
                class="form-input"                 id="email"                 name="email"
                placeholder="john.doe@email.com"
                required                 type="email"
              />
            </div>
            <div class="mb-6">
              <label class="form-label" for="message">
                Anything else? <span class="text-red-500">*</span>
              </label>
              <textarea
                class="form-input"                 id="message"                 name="message"
                placeholder="Message goes here..."
                required
                rows="8"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>
