---
import BlogCard from "@/components/BlogCard.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { normalizeLang, supportedLang } from "@/lib/utils/languageParser";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { humanize } from "@/lib/utils/textConverter";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";
import PageHeader from "@/partials/PageHeader.astro";

export async function getStaticPaths() {
  const BLOG_FOLDER = "blog";
  const paths = [];

  for (const routeLang of supportedLang) {
    const lang = normalizeLang(routeLang);
    const categories = await getTaxonomy(BLOG_FOLDER, lang, "categories");

    paths.push(
      ...categories.map((category) => ({
        params: {
          lang: routeLang || undefined,
          category,
        },
      })),
    );
  }

  return paths;
}

const lang = normalizeLang(Astro.params.lang);
const { category } = Astro.params;

const BLOG_FOLDER = "blog";
const posts = await getSinglePage(BLOG_FOLDER, lang);
const filterByCategories = taxonomyFilter(posts, "categories", category!);
const sortedPosts = sortByDate(filterByCategories);
const categoryTitle = humanize(category || "");
const pageTitle = `${categoryTitle} Articles`;
const pageDescription = `Explore ${sortedPosts.length} ${categoryTitle} article${
  sortedPosts.length === 1 ? "" : "s"
} from the ${categoryTitle} topic archive.`;
---

<Base
  title={pageTitle}
  meta_title={pageTitle}
  description={pageDescription}
  lang={lang}
>
  <PageHeader title={categoryTitle} />
  <div class="section-sm pb-0">
    <div class="container">
      <div class="row">
        {
          sortedPosts.map((post) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <BlogCard data={post} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Base>
